.*
!.github
!.gitignore
*~
*.orig
*.log
*.run
*.tgz
*.xz
*.pkg
*.bak
*.tar
*.tar.sign
*.tar.gz
*.pkg.*
*.old
*.db
*.files
*/src/
src/*
*/pkg/
pkg/*
*/linux-5*/
*.myfrag
kernelconfig.new
logs/*
kernel_updates
gnupg/
*sha256sum*
