.*
!.github
!.gitignore
*~
*.orig
*.log
*.run
*.tgz
*.xz
*.pkg
*.bak
*.tar.gz
*.pkg.*
*.old
*.files
*/src/
src/*
*/pkg/
pkg/*
*/linux-5*/
*.myfrag
logs/*
kernel_updates
gnupg/
*sha256sum*
current_env
linux-kernel.git/
linux-src-git/
